.main-forget-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 185px;
    position: relative;
    background-color: #ffffff;
}

.main-forget-password .header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    align-items: center;
    position: relative;
    gap: var(--size-space-300);
    padding: 32px;
    background-color: var(--color-background-default-default);
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: var(--color-border-default-default);
}

.header .block{
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}
.header .logo-block{
    position: relative;
    width: 65px;
    height: 70px;
    margin-top: -1px;
    margin-bottom: -13px;
    margin-left: -1px;
    margin-right: -1.2px;
}

.header .text-wrap{
    position: absolute;
    align-content: center;
    text-align: center;
    font-family: var(--body-link-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-default-default);
    font-size: 38px;
    letter-spacing: 0;
    line-height: 38px;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-forget-password .form-forgot-password {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    min-height: 200px;
    align-items: flex-start;
    gap: var(--size-space-600);
    padding: var(--size-space-600);
    position: relative;
    flex: 0 0 auto;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
}

.main-forget-password .input-field {
    flex-direction: column; align-items: flex-start;
    gap: var(--size-space-200);
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}


.main-forget-password .label {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-default-default);
    font-size: 26px;
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
}
.main-forget-password .input {
    min-width: 240px;
    min-height: 50px;
    align-items: center;
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
    margin-bottom: -1.00px;
    margin-left: -1.00px;
    margin-right: 1.00px;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-default-default);
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    font-size: 20px;
}

.main-forget-password .text-wrapper {
    position: relative;
    flex: 1;
    margin-top: -0.50px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-default-tertiary);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
}

.main-forget-password .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.main-forget-password .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center; justify-content: center;
    gap: var(--size-space-200); padding: var(--size-space-300); position: relative;
    flex: 0 0 auto;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
}

.main-forget-password .div {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    /*color: var(--color-text-neutral-default);*/
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
}
.main-forget-password .button-wrapper {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: relative;
    flex: 0 0 auto;
    background-color: var(--color-background-brand-default);
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-brand-default);
}

.main-forget-password .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-brand-on-brand);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
}