.body_size{
    width: 100%;
    height: 100%;
}

.body_size .main-my-page {
    position: relative;
    width: 100%;
    min-height: 800px;
    background-color: #ffffff;
    overflow: hidden;
}
.main-my-page .list {
    position: relative;
    width: 100%;
    height: 360px;
    top: 700px;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    overflow-x: scroll;
}
.main-my-page .list::-webkit-scrollbar {
    width: 1200px;
    display: none;
}

.main-my-page .front-group {
    position: relative;
    width: 100%;
    height: 345px;
    top: 8px;
    left: 5px;
}
.main-my-page .product-info-card {
    display: inline-flex;
    flex-direction: column;
    min-width: 240px;
    align-items: flex-start;
    gap: var(--size-space-400);
    padding: var(--size-space-400);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
}

.main-my-page .image {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 247px;
    background-image: url(./img/error.png);
    background-size: cover;
    background-position: 50% 50%;
}
.main-my-page .body {
    display: flex;
    flex-direction: column;
    width: 208px;
    align-items: flex-start;
    gap: var(--size-space-200);
    position: relative;
    flex: 0 0 auto;
}

.main-my-page .div-wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main-my-page .text {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
}
.main-my-page .text-small {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-small-font-family);
    font-weight: var(--body-small-font-weight);
    color: var(--color-text-default-secondary);
    font-size: var(--body-small-font-size);
    letter-spacing: var(--body-small-letter-spacing);
    line-height: var(--body-small-line-height);
    white-space: nowrap;
    font-style: var(--body-small-font-style);
}

.main-my-page .div {
    left: 274px;
    display: inline-flex;
    flex-direction: column;
    min-width: 240px;
    align-items: flex-start;
    gap: var(--size-space-400);
    padding: var(--size-space-400);
    position: absolute;
    top: 0;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
}

.main-my-page .image-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 247px;
    background-image: url(./img/error.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-my-page .product-info-card-2 {
    left: 548px;
    display: inline-flex;
    flex-direction: column;
    min-width: 240px;
    align-items: flex-start;
    gap: var(--size-space-400);
    padding: var(--size-space-400);
    position: absolute;
    top: 0;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
}

.main-my-page.image-3 {

    position: relative;
    align-self: stretch;
    width: 100%;
    height: 247px;
    background-image: url(./img/error.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-my-page .product-info-card-3 {
    left: 822px;
    display: inline-flex;
    flex-direction: column;
    min-width: 240px;
    align-items: flex-start;
    gap: var(--size-space-400);
    padding: var(--size-space-400);
    position: absolute;
    top: 0;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
}

.main-my-page.image-4 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 247px;
    background-image: url(./img/error.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-my-page .product-info-card-4 {
    left: 1087px;
    display: inline-flex;
    flex-direction: column;
    min-width: 240px;
    align-items: flex-start;
    gap: var(--size-space-400);
    padding: var(--size-space-400);
    position: absolute;
    top: 0;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
}

.main-my-page .image-5 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 247px;
    background-image: url(./img/error.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main-my-page .my_information {
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    min-height: 500px;
    align-items: flex-start;
    position: absolute;
    top: 150px;
    left: 100px;
    border-radius: 10px;
}

.my_information .information_block {
    position: relative;
    min-width: max-content;
    min-height: 50%;
}

.main-my-page .image-profile {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 10px 0px;
    overflow: hidden;
}

.main-my-page .shape {
    position: relative;
    width: 191px;
    height: 250px;
    object-fit: cover;
}

.information_block .info {
    position: absolute;
    width: 100%;
    height: 58px;
    top: 0;
    left: 191px;
}

.main-my-page .part {
    display: flex;
    flex-direction: column;
    width: 771px;
    height: 250px;
    align-items: flex-start;
    position: relative;
    left: 18px;
}

.main-my-page .line {
    position: absolute;
    width: 18px;
    height: 250px;
    top: 0;
    left: -18px;
}

.main-my-page .text-wrapper {
    display: flex;
    position: relative;
    width: 1000px;
    height: 60px;
    margin-top: -1.00px;
    margin-right: -68.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--color-text-default-secondary);
    font-size: 28px;
    letter-spacing: 0;
    line-height: 38.4px;
}

.main-my-page .text-wrapper-2 {
    position: relative;
    width: 899px;
    height: 60px;
    margin-right: -68.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-text-default-tertiary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
}

.main-my-page .text-wrapper-3 {
    position: relative;
    width: 839px;
    height: 60px;
    margin-right: -68.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--color-text-default-secondary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 38.4px;
}

.main-my-page .description_area {
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: column;
    min-width: 100%;
    max-height: 350px;
    overflow-y: scroll;
    background-color: #f5f5f5;
    border-radius: 0px 0px 10px 10px;
     margin-top: 250px;
}

.main-my-page .header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    align-items: center;
    position: relative;
    gap: var(--size-space-300);
    padding: 32px;
    background-color: var(--color-background-default-default);
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: var(--color-border-default-default);
}

.header .block{
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.header .logo-block{
    position: relative;
    width: 65px;
    height: 70px;
    margin-top: -1px;
    margin-bottom: -13px;
    margin-left: -1px;
    margin-right: -1.2px;
}

.header .text-wrap{
    position: absolute;
    align-content: center;
    text-align: center;
    font-family: var(--body-link-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-default-default);
    font-size: 38px;
    letter-spacing: 0;
    line-height: 38px;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-my-page .text-wrapper-4 {
    position: absolute;
    width: 131px;
    height: 33px;
    top: 30px;
    left: 584px;
    font-family: "Inter-Regular",  Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 33px;
    text-align: center;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
}

.my_information .btn_info_set {
    display: flex;
    align-items: center;
    background-color: var(--color-background-brand-default);
    color: White;
    min-height: 24px;
    font-family: var(--single-line-body-base-font-family); /* Family Sans */
    font-size: 20px;
    font-weight: var(--single-line-body-base-font-weight); /* 400 */
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height); /* 16px */
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn_info_set:active {
    transform: scale(0.95); /* 클릭할 때 버튼이 약간 작아지는 효과 */
}

.btn_info_set:hover {
    /*background-color: var(--color-background-neutral-tertiary);*/
    background-color: white;
    color: black;
}

.main-my-page .historyForm {
    display: inline-flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    gap: 10px;
    padding: 24px;
    position: relative;
    flex: 0 0 auto;
}