.main-result {
    position: relative;
    width: 100%;
    min-height: auto;
    background-color: var(--color-background-default-default);
}
.main-result .header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    align-items: center;
    gap: var(--size-space-600);
    padding: var(--size-space-800);
    position: relative;
    align-self: stretch;
    background-color: var(--color-background-default-default);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--color-border-default-default);
}

.main-result .block {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -10.50px;
    margin-bottom: -10.50px;
}

.main-result .logo-block {
  position: relative;
  width: 61px;
  height: 56px;
  background-color: #ffffff;
}

.main-result .nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--size-space-200);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.main-result .community-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--size-radius-200);
}

.main-result .title {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.main-result .button-group-log-IN {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--size-radius-200);
}


.main-result .profile-img {
  position: relative;
  width: 40px;
  height: var(--size-icon-large);
  border-radius: var(--size-radius-full);
  background-image: url(./img/LOGO_PT.png);
  background-size: cover;
  background-position: 50% 50%;
}
.main-result .profile-icon-LOGOUT {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.main-result .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: 400;
  color: #000000;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 9px;
  white-space: nowrap;
}
.main-result .title_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}
.main-result .img_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


.main-result .text-content-title {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--size-space-200);
    position: relative;
    flex: 0 0 auto;
}

.main-result .div {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--title-hero-font-family);
    font-weight: var(--title-hero-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--title-hero-font-size);
    text-align: center;
    letter-spacing: var(--title-hero-letter-spacing);
    line-height: var(--title-hero-line-height);
    font-style: var(--title-hero-font-style);
}
.main-result .subtitle {
    position: relative;
    align-self: stretch;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--color-text-default-secondary);
    font-size: var(--subtitle-font-size);
    text-align: center;
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
    font-style: var(--subtitle-font-style);
}


.main-result .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 24px var(--size-space-600) 24px var(--size-space-600);
    position: relative;
    align-self: stretch;
    border-radius: 18px;
    width: 100%;
    background-color: #e3e3e3;
}

.main-result .img_panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px var(--size-space-400);
    padding: var(--size-space-800) var(--size-space-800) var(--size-space-4000) var(--size-space-800);
    position: relative;
    width: 100%;
    background-color: var(--color-background-default-default);
    border-top-width: 1px;
    border-top-style: solid;
    border-color: var(--color-border-default-default);
    align-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
}

.main-result .div-wrapper {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--color-background-brand-default);
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-brand-default);
}

.main-result .image {
    min-width: 20%; /* 부모 요소에 맞춰 가변적으로 조정 */
    height: auto; /* 가로세로 비율 유지 */
    max-width: 50%; /* 최대 크기 제한 (선택 사항) */
}

.main-result .overlap {
    height: 930px;
    top: 1429px;
    position: absolute;
    width: 1200px;
    left: 0;
}

.main-result .main-footer-section {
    display: flex;
    align-items: flex-start;
    gap: 16px var(--size-space-400);
    padding: var(--size-space-800) var(--size-space-800) var(--size-space-4000) var(--size-space-800);
    position: relative;
    width: 100%;
    background-color: var(--color-background-default-default);
    border-top-width: 1px;
    border-top-style: solid;
    border-color: var(--color-border-default-default);
    align-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
}

.main-result .icon-title {
  display: inline-block;
  padding: 10px;
  float: left;
  width: 262px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-400);
  position: relative;
}

.main-result .icon-footer{
  display: inline-block;
  min-width: 24px;
  max-width: 36px;
  min-height: 24px;
  max-height: 36px;
  flex-direction: column;
  margin: var(--size-space-200);
}

.main-result .text-section {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: flex-start;
  gap: var(--size-space-300);
  position: relative;
}
.main-result .text-strong-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 0px var(--size-space-400) 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main-result .text-strong {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main-result .text-strong-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-strong-font-family);
  font-weight: var(--body-strong-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-strong-font-size);
  letter-spacing: var(--body-strong-letter-spacing);
  line-height: var(--body-strong-line-height);
  white-space: nowrap;
  font-style: var(--body-strong-font-style);
}

.main-result .text-link-list-item {
  position: relative;
  width: 90px;
  height: 24px;
}

.main-result .list-item {
  position: absolute;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
}

.main-result .main-copyright {
    position: relative;
    align-self: stretch;
    height: 22px;
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
    color: #000000;
    font-size: var(--body-strong-font-size);
    text-align: center;
    letter-spacing: var(--body-strong-letter-spacing);
    line-height: var(--body-strong-line-height);
    white-space: nowrap;
    font-style: var(--body-strong-font-style);
}

.main-result .button-group-after-sign-up {
  display: flex;
  min-width: 70px;
  align-items: center;
  gap: var(--size-space-300);
}

.button-group-after-sign-up .username{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  flex: 0 0 auto;
  border-radius: 5px;
  border: white;
  background-color: white;
  position: relative;
  overflow: hidden;
  font-size: 22px;
  height: 34px;
}
.username:Hover{
  background-color: black;
  color: white;
}

.username:active{
    scale: 0.95;
}

.button-group-after-sign-up .btn-logout{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 10px;
  padding: 5px;
  flex: 0 0 auto;
  border-radius: 5px;
  border: white;
  position: relative;
  overflow: hidden;
  color: white;
  background-color: black;
  height: 34px;
}

.btn-logout:hover{
  background-color: white;
  color: black;
}

.btn-logout:active{
    scale: 0.95;
}

.main-result .button-start-button {
    margin-top: 70px;
    display: flex;
    padding: var(--size-space-200);
    justify-content: center;
    align-items: center;
    gap: var(--size-space-200);
    flex: 1 0 0;
    border-radius: var(--size-radius-200);
    background: black;
    color: var(--color-text-brand-on-brand);
    font-family: var(--single-line-body-base-font-family);
    font-size: 25px;
    font-style: normal;
    font-weight: var(--single-line-body-base-font-weight);
    line-height: 100%; /* 25px */
    letter-spacing: var(--single-line-body-base-letter-spacing);
    cursor: pointer;
    border: none;
}
.main-result .button-start-button:hover {
  background-color: white;
  color: black;
}
.button-start-button:active{
    scale: 0.95;
}
