.main-sign-up {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 100px;
    position: relative;
    background-color: #ffffff;
}

.main-sign-up .sign-up-form {
    display: inline-flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 700px;
    align-items: flex-start;
    gap: 28px;
    padding: var(--size-space-600);
    position: relative;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
}

.main-sign-up .header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    align-items: center;
    position: relative;
    gap: var(--size-space-300);
    padding: 32px;
    background-color: var(--color-background-default-default);
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: var(--color-border-default-default);
}

.header .block{
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}
.header .logo-block{
    position: relative;
    width: 65px;
    height: 70px;
    margin-top: -1px;
    margin-bottom: -13px;
    margin-left: -1px;
    margin-right: -1.2px;
}

.header .text-wrap{
    position: absolute;
    align-content: center;
    text-align: center;
    font-family: var(--body-link-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-default-default);
    font-size: 38px;
    letter-spacing: 0;
    line-height: 38px;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-up-form .input-field {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-200);
    position: relative;
    align-self: stretch;
    width: 100%;
    min-height: 60px;
    font-size: 24px;
    flex: 0 0 auto;
}

.main-sign-up .label {
    position: relative;
    align-self: stretch;
    font-family: var(--body-base-font-family);
    font-size: var(--body-base-font-weight);
    color: var(--color-text-default-default);
    font-size: 22px;
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
}
.main-sign-up .input {
    display: flex;
    min-width: 240px;
    align-items: center;
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    min-height: 60px;
    font-size: 24px;
    flex: 0 0 auto;
    margin-bottom: -1.00px;
    margin-left: -1.00px;
    margin-right: 1.00px;
    overflow: hidden;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-default-default);
}
.main-sign-up .text-wrapper {
    position: relative;
    flex: 1;
    margin-top: -0.50px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-default-tertiary);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
}


.main-sign-up .button-group {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--size-space-400);
    position: relative;

    flex: 0 0 auto;
}
.main-sign-up .button {
    all: unset;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--color-background-brand-default);
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-brand-default);
    color: white;
    font-size: 22px;
    min-height: 48px;
}
.main-sign-up .text_link {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #e3e3e3;
    border-radius: var(--size-radius-200);
    overflow: hidden;
    font-size: 22px;
    min-height: 48px;
}

.main-sign-up .div {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: 1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-brand-on-brand);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
}
.sign-up-form .button-wrapper {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #e3e3e3;
    border-radius: var(--size-radius-200);
    overflow: hidden;
}

.main-sign-up .button-2 {
    all: unset;

    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #000000;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
}
.main-sign-up .text-link-acc {
    padding: 25px 0 0 0;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-link-font-family);
    font-weight: var(--body-link-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--body-link-font-size);
    letter-spacing: var(--body-link-letter-spacing);
    line-height: var(--body-link-line-height);
    text-decoration: underline;
    white-space: nowrap;
    font-style: var(--body-link-font-style);
    font-size: 22px;
}
